<h1>Información del usuario</h1>
<hr />

<div class="row">
  <div class="col-4">
    <h3>Usuario actual: {{ userId() }}</h3>

    <button (click)="loadUser(userId() - 1)" class="btn btn-primary me-2">
      Anterior
    </button>
    <button (click)="loadUser(userId() + 1)" class="btn btn-primary me-2">
      Siguiente
    </button>
  </div>

  @if (currentUser()) {
  <div class="col-8">
    <h3>Usuario</h3>
    <p>Correo: {{ currentUser()!.email }}</p>
    <p>Nombre: {{ fullname() }}</p>

    <img [src]="currentUser()!.avatar" alt="Avatar" class="rounded" />
  </div>
  } @if(!userWasFound()) {
  <div class="col-8 text-danger">
    <h3>Usuario no encontrado</h3>
  </div>
  }
</div>
